services:
  evolution_api:
    container_name: evolution_api
    image: atendai/evolution-api:latest
    restart: always
    depends_on:
      - redis
    ports:
      - ${EVOLUTION_API_PORT}:8080
    volumes:
      - evolution_instances:/evolution/instances
      - ${GCS_CREDENTIALS_PATH}:/app/gcp-credentials.json:ro
    networks:
      - evolution-net
    env_file:
      - .env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-credentials.json
    expose:
      - 8080

  redis:
    image: redis:latest
    restart: always
    networks:
      - evolution-net
    container_name: redis
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    ports:
      - ${REDIS_PORT}:6379

volumes:
  evolution_instances:
  evolution_redis:

networks:
  evolution-net:
    name: evolution-net
    driver: bridge
